
/* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
          background-color: #e3e2df;
          font-family: Verdana;
          text-align: center;
      }

      /* Styling the Form (Color, Padding, Shadow) */
      form {
          background-color: #efe2ba ;        
          max-width: 800px;
          margin: 50px auto;
          padding: 30px 20px;
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
      }

      h1{
        color: #5d001e;
      }

      section{
        display: flex;
        flex-direction: column;
      }
       
      label{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
      }
      select{
        margin-top: 0%;  
        margin-right: auto;  
        margin-left: 20px;
        margin-bottom: 10px;
        width: 160px;
        height: 20px;
      }

      /* Styling form-control Class */
      .form-control {
          text-align: left;
          margin-bottom: 25px;
      }

      /* Styling form-control Label */
      .form-control label {
          display: block;
          margin-bottom: 10px;
      }

      /* Styling form-control input,
      select, textarea */
      .form-control input,
      .form-control select,
      .form-control textarea {
          border: 1px solid #777;
          border-radius: 2px;
          font-family: inherit;
          padding: 10px;
          display: block;
          width: 95%;
      }

      /* Styling form-control Radio
      button and Checkbox */
      .form-control input[type="radio"],
      .form-control input[type="checkbox"] {
          display: inline-block;
          width: auto;
      }

      /* Styling Button */
      button {
          background-color: #123c69;
          border: 1px solid #777;
          border-radius: 30px;
          color: #fff;
          font-family: inherit;
          font-size: 21px;
          display: block;
          width: 40%;
          margin-left: 30%;
          margin-top: 50px;
          margin-bottom: 20px;
          cursor: pointer;
      }

      button:hover{
        background-color: #c5cbe3;
        color: #000;
      }