*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #fff);
    font-family: 'Poppins',sans-sherif;
}

.product{
    background-color: #2b6777;
}
.logo{
    color: #000;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: auto;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #000;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;

}

.burger{
    display:none;
    cursor: pointer;

}

.burger div{
        background-color: #2b6777;
        height: 3px;
        width: 25px;
        margin: 5px;
       transition: all 0.3s ease;
}

.title-image{
    border-radius: 90%;
    
    position: relative;
    right: 30%;
    /* z-index: -1; */
  
  }
  

.cta-heading{

            font-family: "Montserrat-Bold 700"
            font-size:3rem;
            line-height: 1.5;
          }
.cta-container{
            text-align: center;
          
          }
.pricing-column{
          padding: 3% 2%;
          
          }
          
.carousel-item{
          padding: 7% 15%;
          
          }
.container-fluid{
            padding: 3% 15% 7%;
          }
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
     }

.card-header{
    background-color: #52ab98;
}

.prime{
    background-color: #c8d8e4;
    color: #000;
}

.prime:hover{
    background-color: #1b4d89;
}
          #testimonials{

            text-align: center;
            background-color: #2b6777;
            color: #fff;
            }
        #title{
                
                color: #fff;
              }
        
        #pricing{
                padding: 100px;
                text-align: center;
                background-color: #c8d8e4;;
            
                }
        #press{
            text-align: center;
        }
            
        #cta{
                    background-color: #2b6777;
                    color: #fff;
                    /* font-family: "Montserrat-bold"; */
                    padding: 7% 15%
                  } 
          #footer{
            text-align: center;
            padding-top: 3% 2%;
          }
                              

#product{
    background-color: #ff4c68;
    color: #fff;
  }
  

#features{
    padding: 3% 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c8d8e4;
    text-align: center;
}



@media screen and (max-width: 1024){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        
        position: absolute;
        right: 0px;
        height: 50vh;
        display: flex;
        top: 8vh;
        background-color: #c8d8e4;
        flex-direction: column;
        line-height: 10px;
        /* margin: 10px; */
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
        margin: 10px;
    }

    .title-image{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 90%;
        text-align: center;
        position: static;
    }
    .burger{
        display: block;
        margin-right: 50px;
    }
}

.nav-active{
    transform: translateX(0%);

}

.row{
    align-items:center;
    display: flex;
    position:static;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}